<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="title" content="Universal DB API">
    <meta name="author" content="LightSage">
    <meta property="og:title" content="Universal DB API">
    <meta property="og:type" content="website">
    <meta property="og:description" content="An actual Universal DB API">
    <meta property="og:url" content="https://udb-api.lightsage.dev">
    <meta property="og:image" content="">
    <title>Universal DB API</title>
</head>
<center>
<body>
    You can find docs for this API at <a href="https://udb-api.lightsage.dev/docs">https://udb-api.lightsage.dev/docs</a>
    <br>
    </br>
    <br>
    <img src="https://cdn.discordapp.com/emojis/698960848730980392.gif?size=128" alt="arooSip">
    </br>
</body></center>
<center><footer><body>Like this project? Drop a star on this project at <a href="https://github.com/LightSage/UDB-API">GitHub</a>!
    <br>You can also choose to support my work on <a href="https://ko-fi.com/lightsage">Ko-Fi</a>!</br></body></footer></center>
</html>